{% for vhost in vhosts %}
<VirtualHost {{ socket.address }}:{{ socket.port }}>
    ServerName {{ vhost.domains[0].name }}
    ServerAlias *.{{ vhost.domains[0].name }} {% if vhost.domains|length > 1 %}{% for domain in vhost.domains[1:] %}{{ domain.name }} *.{{ domain.name }} {% endfor %}{% endif %}

    {% if vhost.scriptAlias %}
    ScriptAlias /cgi-bin {{ vhost.unixAccount.homeDir }}{{ vhost.scriptAlias }}
    {% endif %}
    DocumentRoot {{ vhost.unixAccount.homeDir }}{{ vhost.documentRoot }}
    {% if vhost.autoSubDomain %}
    <Directory {{ vhost.unixAccount.homeDir }}{{ params["subdomains_document_root"] }}>
    {% else %}
    <Directory {{ vhost.unixAccount.homeDir }}{{ vhost.documentRoot }}>
    {% endif %}
        Options {% if vhost.followSymLinks %}+{% else %}-{% endif %}FollowSymLinks {% if vhost.multiViews %}+{% else %}-{% endif %}MultiViews {% if vhost.ssiEnabled %}+{% else %}-{% endif %}Includes {% if vhost.cgiEnabled %}+{% else %}-{% endif %}ExecCGI
    {% if vhost.indexFileList %}
        DirectoryIndex{% for file in vhost.indexFileList %} {{ file }}{% endfor %}
    {% endif %}

        Require all granted
        AllowOverride all
    </Directory>
    {% if vhost.charSet %}
    AddDefaultCharset {{ vhost.charSet }}
    {% endif %}
    {% if vhost.autoSubDomain %}
    RewriteEngine on
    {% for domain in vhost.domains %}
    RewriteCond %{HTTP_HOST} ^(www.)?([a-z0-9-]+).{{ domain.name }} [NC{% if not loop.last %},OR{% endif %}]
    {% endfor %}
    RewriteRule ^/(.*)$ {{ vhost.unixAccount.homeDir }}{{ params["subdomains_document_root"] }}/%2/$1 [L]
    {% endif %}
    {% if vhost.cgiEnabled and vhost.cgiFileExtensions %}
    AddHandler cgi-script{% for file in vhost.cgiFileExtensions %} .{{ file }}{% endfor %}

    {% endif %}
    {% if vhost.ssiEnabled and vhost.ssiFileExtensions %}
    AddHandler server-parsed{% for file in vhost.ssiFileExtensions %} .{{ file }}{% endfor %}

    {% endif %}
    php_admin_flag allow_url_fopen {% if vhost.allowUrlFopen %}on{% else %}off{% endif %}

    {%  if vhost.mbstringFuncOverload %}
    php_admin_value mbstring.func_overload {{ vhost.mbstringFuncOverload }}
    {% endif %}
    {% if vhost.customUserConf %}
        {{ vhost.customUserConf }}
    {% endif %}
    {% if vhost.accessLogEnabled %}
    CustomLog {{ vhost.unixAccount.homeDir }}/logs/www.{{ vhost.domains[0].name }}-access.log common-time
    {% endif %}
    {% if vhost.errorLogEnabled %}
    ErrorLog {{ vhost.unixAccount.homeDir }}/logs/www.{{ vhost.domains[0].name }}-error_log
    {% endif %}
    MaxClientsVHost 20
    AssignUserID "#{{ vhost.unixAccount.uid }}" "#{{ vhost.unixAccount.uid }}"
</VirtualHost>
{% endfor %}
