{% for vhost in vhosts %}
<VirtualHost {{ params["apache_socket"].address }}:{{ params["apache_socket"].port }}>
    ServerName {{ vhost.domainList[0].name }}
    ServerAlias *.{{ vhost.domainList[0].name }} {% if vhost.domainList|length > 1 %}{% for domain in vhost.domainList[1:] %}{{ domain.name }} *.{{ domain.name }} {% endfor %}{% endif %}

    {% if vhost.Options.scriptAlias %}
    ScriptAlias /cgi-bin {{ vhost.unixAccount.homeDir }}{{ vhost.Options.scriptAlias }}
    {% endif %}
    DocumentRoot {{ vhost.unixAccount.homeDir }}{{ vhost.documentRoot }}
    {% if vhost.Options.autoSubDomain %}
    <Directory {{ vhost.unixAccount.homeDir }}{{ params["subdomains_document_root"] }}>
    {% else %}
    <Directory {{ vhost.unixAccount.homeDir }}{{ vhost.documentRoot }}>
    {% endif %}
        Options {% if vhost.Options.followSymLinks %}+{% else %}-{% endif %}FollowSymLinks {% if vhost.Options.multiViews %}+{% else %}-{% endif %}MultiViews {% if vhost.Options.ssiEnabled %}+{% else %}-{% endif %}Includes {% if vhost.Options.cgiEnabled %}+{% else %}-{% endif %}ExecCGI
    {% if vhost.Options.indexFileList %}
        DirectoryIndex{% for file in vhost.Options.indexFileList %} {{ file }}{% endfor %}
    {% endif %}

        Require all granted
        AllowOverride all
    </Directory>
    {% if vhost.Options.charSet %}
    AddDefaultCharset {{ vhost.Options.charSet }}
    {% endif %}
    {% if vhost.Options.autoSubDomain %}
    RewriteEngine on
    {% for domain in vhost.domainList %}
    RewriteCond %{HTTP_HOST} ^(www.)?([a-z0-9-]+).{{ domain.name }} [NC{% if not loop.last %},OR{% endif %}]
    {% endfor %}
    RewriteRule ^/(.*)$ {{ params["subdomains_document_root"] }}/%2/$1 [L]
    {% endif %}
    {% if vhost.Options.cgiEnabled and vhost.Options.cgiFileExtensions %}
        AddHandler cgi-script{% for file in vhost.Options.cgiFileExtensions %} .{{ file }}{% endfor %}
    {% endif %}
    {% if vhost.Options.ssiEnabled and vhost.Options.ssiFileExtensions %}
        AddHandler server-parsed{% for file in vhost.Options.ssiFileExtensions %} .{{ file }}{% endfor %}
    {% endif %}
    {% if vhost.Options.customUserConf %}
        {{ vhost.Options.customUserConf }}
    {% endif %}
    {% if vhost.Options.accessLogEnabled %}
    CustomLog {{ vhost.unixAccount.homeDir }}/logs/www.{{ vhost.domainList[0].name }}-access.log common-time
    {% endif %}
    {% if vhost.Options.errorLogEnabled %}
    ErrorLog {{ vhost.unixAccount.homeDir }}/logs/www.{{ vhost.domainList[0].name }}-error_log
    {% endif %}
    MaxClientsVHost 20
    AssignUserID "#{{ vhost.unixAccount.uid }}" "#{{ vhost.unixAccount.uid }}"
</VirtualHost>
{% endfor %}