server {
    listen {{ params["nginx_ip_addr"] }};

    server_name {% for domain in website.domainList %} {{ domain.name }} *.{{ domain.name }}{% endfor %};
    access_log /var/log/nginx/access.log combined_host;
    reset_timedout_connection on;

    limit_req zone=req_perhost burst=512;

{% for (code, file_name) in params["error_pages"] %}
    error_page {{ code }} /{{ file_name }};
    location = /{{ file_name }} {
        root {{ params["static_base"] }};
        ssi on;
        internal;
    }
{% endfor %}

{% if website.Options.staticFileExtensions %}
    location ~* ^.+\.({{ website.Options.staticFileExtensions|join("|") }}) {
    {% if website.Options.autoSubDomain %}
        {% for domain in website.domainList %}
        if ( $host ~* ^(www.)?([a-z0-9-]+).{{ domain.name }} ) {
            root {{ website.documentRoot }}/$2;
        }
        {% endfor %}
    {% endif %}
    root {{ website.documentRoot }};
    }
{% endif %}
{% if website.Options.ddosProtection %}
    location {{ params["anti_ddos_location"] }} {
    content_by_lua_file {{ params["static_base"] }}/{{ params["anti_ddos_set_cookie_file"] }};
    internal;
    }
{% endif %}
    location ~* ((^/wp-login.php)|(^/administrator/index.php)|(^/xmlrpc.php)) {
{% if website.Options.ddosProtection %}
        access_by_lua_file {{ params["static_base"] }}/{{ params["anti_ddos_check_cookie_file"] }};
{% endif %}
        limit_req zone=req_to_adm burst=128;

{% if not website.Options.accessByOldHttpVersion %}
        if ($server_protocol ~* "HTTP/1.0") {
            return 403;
        }
{% endif %}
{% if website.Options.phpSecurityMode != "default" %}
        proxy_pass http://apache2-{{ website.Options.phpVersion }}-{{ website.Options.phpSecurityMode }};
{% else %}
        proxy_pass http://apache2-{{ website.Options.phpVersion }};
{% endif %}
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto http;
        proxy_set_header Range "";

    }
    location / {
{% if website.Options.ddosProtection %}
        access_by_lua_file {{ params["anti_ddos_check_cookie_file"] }};
{% endif %}
{% if website.Options.phpSecurityMode != "default" %}
        proxy_pass http://apache2-{{ website.Options.phpVersion }}-{{ website.Options.phpSecurityMode }};
{% else %}
        proxy_pass http://apache2-{{ website.Options.phpVersion }};
{% endif %}
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto http;
        proxy_set_header Range $http_range;
        proxy_set_header If-Range $http_if_range;
        proxy_cache_bypass $http_range $http_if_range;
    }
}

{% if website.SSLCertificate %}
server {
    listen {{ params["nginx_ip_addr"] }}:443 ssl;

    ssl_certificate {{ params["ssl_path"] }}/{{ website.SSLCertificate.name }}.pem;
    ssl_certificate_key {{ params["ssl_path"] }}/{{ website.SSLCertificate.name }}.key;

    server_name {% for domain in website.domainList %} {{ domain.name }} *.{{ domain.name }}{% endfor %};
    access_log /var/log/nginx/access.log combined_host;
    reset_timedout_connection on;

    limit_req zone=req_perhost burst=512;

    {% for (code, file_name) in params["error_pages"] %}
        error_page {{ code }} /{{ file_name }};
        location = /{{ file_name }} {
        root {{ params["static_base"] }};
        ssi on;
        internal;
        }
    {% endfor %}

    {% if website.Options.staticFileExtensions %}
        location ~* ^.+\.({{ website.Options.staticFileExtensions|join("|") }}) {
        {% if website.Options.autoSubDomain %}
            {% for domain in website.domainList %}
                if ( $host ~* ^(www.)?([a-z0-9-]+).{{ domain.name }} ) {
                root {{ website.documentRoot }}/$2;
                }
            {% endfor %}
        {% endif %}
        root {{ website.documentRoot }};
        }
    {% endif %}
    {% if website.Options.ddosProtection %}
        location {{ params["anti_ddos_location"] }} {
        content_by_lua_file {{ params["static_base"] }}/{{ params["anti_ddos_set_cookie_file"] }};
        internal;
        }
    {% endif %}
    location ~* ((^/wp-login.php)|(^/administrator/index.php)|(^/xmlrpc.php)) {
    {% if website.Options.ddosProtection %}
        access_by_lua_file {{ params["static_base"] }}/{{ params["anti_ddos_check_cookie_file"] }};
    {% endif %}
    limit_req zone=req_to_adm burst=128;

    {% if not website.Options.accessByOldHttpVersion %}
        if ($server_protocol ~* "HTTP/1.0") {
        return 403;
        }
    {% endif %}
    {% if website.Options.phpSecurityMode != "default" %}
        proxy_pass http://apache2-{{ website.Options.phpVersion }}-{{ website.Options.phpSecurityMode }};
    {% else %}
        proxy_pass http://apache2-{{ website.Options.phpVersion }};
    {% endif %}
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto http;
    proxy_set_header Range "";

    }
    location / {
    {% if website.Options.ddosProtection %}
        access_by_lua_file {{ params["anti_ddos_check_cookie_file"] }};
    {% endif %}
    {% if website.Options.phpSecurityMode != "default" %}
        proxy_pass http://apache2-{{ website.Options.phpVersion }}-{{ website.Options.phpSecurityMode }};
    {% else %}
        proxy_pass http://apache2-{{ website.Options.phpVersion }};
    {% endif %}
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto http;
    proxy_set_header Range $http_range;
    proxy_set_header If-Range $http_if_range;
    proxy_cache_bypass $http_range $http_if_range;
    }
}
{% endif %}